<%= form_for(item) do |f| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :item_type %>
    <%= f.text_field :item_type %>
  </div>

  <div class="field">
    <%= f.label :weight %>
    <%= f.number_field :weight %>
  </div>

  <div class="field">
    <%= f.label :text %>
    <%= f.text_area :text %>
  </div>

  <div class="field">
    <%= f.label :ac %>
    <%= f.number_field :ac %>
  </div>

  <div class="field">
    <%= f.label :strength %>
    <%= f.number_field :strength %>
  </div>

  <div class="field">
    <%= f.label :stealth %>
    <%= f.check_box :stealth %>
  </div>

  <div class="field">
    <%= f.label :dmg1 %>
    <%= f.text_field :dmg1 %>
  </div>

  <div class="field">
    <%= f.label :dmg2 %>
    <%= f.text_field :dmg2 %>
  </div>

  <div class="field">
    <%= f.label :dmgType %>
    <%= f.text_field :dmgType %>
  </div>

  <div class="field">
    <%= f.label :property %>
    <%= f.text_field :property %>
  </div>

  <div class="field">
    <%= f.label :range %>
    <%= f.text_field :range %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
