<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>ItemType:</strong>
  <%= @item.item_type %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @item.weight %>
</p>

<p>
  <strong>Text:</strong>
  <%= @item.text %>
</p>

<p>
  <strong>Ac:</strong>
  <%= @item.ac %>
</p>

<p>
  <strong>Strength:</strong>
  <%= @item.strength %>
</p>

<p>
  <strong>Stealth:</strong>
  <%= @item.stealth %>
</p>

<p>
  <strong>Dmg1:</strong>
  <%= @item.dmg1 %>
</p>

<p>
  <strong>Dmg2:</strong>
  <%= @item.dmg2 %>
</p>

<p>
  <strong>Dmgtype:</strong>
  <%= @item.dmgType %>
</p>

<p>
  <strong>Property:</strong>
  <%= @item.property %>
</p>

<p>
  <strong>Range:</strong>
  <%= @item.range %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
