!!!
%html{:lang => "#{@page&.language_code}"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = render "alchemy/pages/meta_data"
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = yield
    = render "alchemy/edit_mode"
